.jumbotron{
    background-color: green;
    color: white;
    margin-top: 5%;
}

.productos-list{
    flex: 1 200px;
    
    margin-top: 15px;
}

.btn-lista{
    width: 100%;
    border-radius: 0px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: green;
    margin-bottom: 0px;
    color: white;
}

footer a{
    color: white;
}

footer a:hover{
    color: black;
}

.footer-adress-icons{
    padding-right: 10px;
}